# Ignore filetypes
*.swp
*.pem
*.csr
*.crt
*.key
*.srl
*.kubeconfig

# Ignore directories
/.idea
/downloads

# Ignore generated
/encryption-config.yaml
admin-csr.json             
ca-config.json             
ca-csr.json                
kube-controller-manager-csr.json
kube-scheduler-csr.json
kube-proxy-csr.json        
kubernetes-csr.json        
worker-0-csr.json          
worker-1-csr.json
worker-2-csr.json
worker-2.kubeconfig
service-account-csr.json
